.form {
    border: 1px solid black;
    z-index: 10;
    width: 50%;
    position: absolute;
    margin: 10% 25%;
    display: none;
    background-color: white;
}

.addManyForm {
    z-index: 10;
    border: 1px solid black;
    width: 50%;
    position: absolute;
    margin: 10% 25%;
    display: none;
    background-color: white;
}

.mainBtns {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*.sortFilter {
    display: none;
}*/

.shipm-form {
    z-index: 10;
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    position: absolute;
    margin: 5% 35%;
    display: none;
    padding: 10px;
    background-color: white;
}

@media screen and (max-width: 2000px) {
    .form {
        border-radius: 10px;
        padding: 10px;
    }

    .addManyForm {
        border-radius: 10px;
        padding: 10px;
    }

    .mainBtns {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .card-body {
        font-size: 19px;
    }
}

@media screen and (max-width: 480px) {
    .form {
        border-radius: 5px;
        padding: 2px;
        width: 90%;
        margin: 5% 1%;
    }

    .addManyForm {
        border-radius: 5px;
        padding: 2px;
        width: 90%;
        margin: 5% 1%;
    }

    .mainBtns {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .card-body {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }

    body {
        font-size: 12px;
    }

    .hidden-sm {
        display: none;
    }
}

.cards {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.card {
    background-color: #eeeeee;
}


.card-href {
    width: 30%;
}

.close-block:hover {
    cursor: pointer;
}

.close-block-regMany:hover {
    cursor: pointer;
}

.allProducts {
    z-index: 10;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    position: absolute;
    margin: 10% 25%;
    display: none;
    padding: 10px;
}

.partError {
    z-index: 11;
    background-color: rgba(200, 0, 0, 10);
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
    position: absolute;
    margin-top: 35%;
    margin-left: 50%;
    display: none;
    padding: 10px;
}

.error {
    z-index: 11;
    background-color: rgba(200, 0, 0, 10);
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
    position: absolute;
    margin-top: 10px;
    margin-left: 65%;
    display: none;
    padding: 10px;
}

.print {
    z-index: 12;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    position: absolute;
    margin: 35%;
    display: none;
    padding: 10px;
}

.fade {
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: black;
    position: absolute;
    display: none;
}

.other {
    position: relative;
    width: 100%;
    height: 100%;
}

.checkbox.checbox-switch {
    padding-left: 0;
}

.checkbox.checbox-switch label,
.checkbox-inline.checbox-switch {
    display: inline-block;
    position: relative;
    padding-left: 0;
}
.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
    display: none;
}
.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
    width: 35px;
    border-radius: 20px;
    height: 18px;
    border: 1px solid #dbdbdb;
    background-color: rgb(0, 105, 217);
    border-color:rgb(0, 105, 217);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.checkbox.checbox-switch label span:before,
.checkbox-inline.checbox-switch span:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255,255,255);
    content: " ";
    top: 0;
    position: relative;
    left: 0px;
    transition: all 0.3s ease;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    top:-2px;
}
.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
    left: 16px;top:-2px;
}

/* Switch Primary */
.checkbox.checbox-switch.switch-primary label > input:checked + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked + span {
    background-color: rgb(0, 105, 217);
    border-color: rgb(0, 105, 217);
    /*box-shadow: rgb(0, 105, 217) 0px 0px 0px 8px inset;*/
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {
    background-color: rgb(0, 105, 217);
    border-color:  rgb(0, 105, 217);
    /* box-shadow: rgb(109, 163, 221) 0px 0px 0px 8px inset;*/
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}