<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/jquery-ui.css" rel="stylesheet">
    <title>Продукт</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div class="row shipm-form">
    <div class="col-md-12">
        <h5 class="text-center row"><span class="col-11">Отгрузка</span><span class="close-block col-1">&#9746;</span>
        </h5>
        <form class="shipmentForm text-center" name="shipmentForm">
            <div class="row text-center">
                <label for="mass">Вес отгрузки</label>
                <input class="form-control" id="mass" name="mass" type="text">
            </div>
            <div class="row">
                <label for="contrAgent">Контр. агент</label>
                <input class="form-control" id="contrAgent" name="contrAgent" type="text">
            </div>
            <div class="row">
                <label for="account">Счет</label>
                <input class="form-control" id="account" name="account" type="text">
            </div>
        </form>
        <button class="btn btn-outline-success btn-block" id="ship">Отгрузить</button>
    </div>
</div>
<div class="container-fluid">
    <header th:insert="blocks/warehouse_header :: header"></header>
    <div class="row mt-2">
        <div class="error text-center">
            Проверьте данные
        </div>
        <div class="print">
        </div>
        <div class="col-2" id="controlBtns">
            <button class="btn btn-outline-info btn-block mb-2" id="shipment">Отгрузка</button>
            <button class="btn btn-outline-info btn-block mb-2" id="print">Распечатать штрих-код</button>
        </div>
        <div class="info row col-10"></div>
    </div>
</div>
<script src="assets/js/product.js"></script>
</body>
</html>