<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Ферротрейд</title>
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Animated-Type-Heading-1.css">
    <link rel="stylesheet" href="assets/css/Animated-Type-Heading.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/iframe.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/PHP-Contact-Form-dark-1.css">
    <link rel="stylesheet" href="assets/css/PHP-Contact-Form-dark.css">
    <link rel="stylesheet" href="assets/css/Responsive-Youtube-Embed.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search-1.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148461566-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-148461566-1');
    </script>
</head>

<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav" style="margin-right: auto;margin-left: auto;">
        <div class="container"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive"><img src="assets/img/logo_FERROTRADE.png" style="width: 73px;margin: 7px;padding: 0px;">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="index.html">ГЛавная</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#services">Продукция</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#gost2246">ГОСТ 2246-70 и ту</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#18143">ГОСТ 18143-72</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#special">специального назначения</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section id="services" style="padding-top: 113px;padding-bottom: 51px;">				<div class="caption v-middle text-center" >
					<h2 class="cd-headline clip">
			            <span class="blc">Проволока | </span>
			            <span class="cd-words-wrapper">
			              <b class="is-visible">ГОСТ 2246-70 и ТУ</b>
			              <b>ГОСТ 18143-72</b>
			              <b>специального назначения</b>
			            </span>
	          		</h2>
				</div>
        <div class="container" style="width: 80%;">
            <div class="row text-center"><a href="#gost2246" class="col-md-4 col-xl-4 offset-xl-0 js-scroll-trigger"><img src="assets/img/2%20(1).jpg" style="width: 90%;border-radius: .25rem;margin-bottom: 25px;" />
    <h4 class="section-heading">Проволока сварочная ГОСТ 2246-70 и ТУ</h4>
    <p class="text-muted">Проволока сварочная из низкоуглеродистой, легированной и высоколегированной стали</p>
</a><a href="#18143" class="col-md-4 js-scroll-trigger" style="padding: 0px 15px;"><img src="assets/img/4.jpg" style="width: 90%;border-radius: .25rem;margin-bottom: 25px;" />
    <h4 class="section-heading" style="margin: 0px;margin-bottom: 8px;"> Проволока ГОСТ 18143-72   </h4>
    <p class="text-muted">Проволока из высокостойкой и жаростойкой стали</p>
</a><a href="#special" class="col-md-4 js-scroll-trigger"><img src="assets/img/3.jpg" style="width: 90%;border-radius: 0.25rem;margin-bottom: 25px;" />
    <h4 class="section-heading">  Проволока специального назначения</h4>
    <p class="text-muted">Прочие марки легированной и нержавеющей проволоки специального назначения</p>
</a></div>
        </div>
    </section>
    <section id="gost2246" class="py-5" style="background-color: #222222;padding-top: 0px;padding-bottom: 150px;font-family: 'Open Sans', sans-serif;color: #ffffff;">
        <h1 class="text-center" style="margin-top: 15px;font-family: 'Open Sans', sans-serif;">ПРОВОЛОКА СВАРОЧНАЯ ГОСТ 2246-70 И ТУ<br></h1>
        <div class="clearfix"></div>
        <div class="col-md-12 text-center search-table-col" style="color: #ffffff;margin-top: 6px;width: 85%;padding-right: auto;padding-left: auto;padding-bottom: 0px;margin-right: auto;margin-left: auto;">
            <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control" placeholder="Поиск"></div><span class="counter pull-right"></span>
            <div class="table-responsive table-bordered table table-hover table-bordered results" style="margin-bottom: 0px;">
                <table class="table table-bordered table-hover">
                    <caption class="text-center" style="padding-bottom: 0px;">По запросу продукция может быть произведена по другому техническому заданию</caption>
                    <thead class="bill-header cs">
                        <tr>
                            <th id="trs-hd" class="col-lg-1" style="font-size: 20px;padding-top: 13px;width: 30%;">ГОСТ 2246-70</th>
                            <th id="trs-hd" class="col-lg-2" style="font-size: 20px;">МАРКА ПРОВОЛОКИ</th>
                        </tr>
                    </thead>
                    <tbody style="color: #ffffff;">
                        <tr class="warning no-result">
                            <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                        </tr>
                        <tr>
                            <td class="text-center" style="color: #ffffff;">Легированная</td>
                            <td class="text-center" style="color: #ffffff;padding: 12px;">Св-08ГС, Св-12ГС, Св-08Г2С, Св-10ГН, Св-08ГСМТ, Св-15ГСТЮЦА (ЭП-439), Св-20ГСТЮА, Св-18ХГС, Св-10НМА, Св-08МХ, Св-08ХМ, Св-18ХМА, Св-08ХНМ, Св-08ХМФА, Св-10ХМФТ, Св-08ХГ2С, Св-08ХГСМА, Св-10ХГ2СМА, Св-08ХГСМФА, Св-04Х2МА, Св-13Х2МФТ,
                                Св-08Х3Г2СМ, Св-08ХМНФБА, Св-08ХН2М, Св-10ХН2ГМТ (ЭИ-984), Св-08ХН2ГМТА (ЭП-111), Св-08ХН2ГМЮ, Св-08ХН2Г2СМЮ, Св-06Н3, Св-10Х5М<br></td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>Высоколегированная&nbsp;</td>
                            <td class="text-center">Св-12X11НМФ, Св-10Х11НВМФ, Св-12Х13, Св-20Х13, Св-06Х14, Св-08Х14ГНТ, Св-10Х17Т, Св-13Х25Т, Св-01Х19Н9, Св-08Х16Н8М2 (ЭП-377), Св-08Х18Н8Г2Б (ЭП-307), Св-07Х18Н9ТЮ, Св-06Х19Н9Т, Св-04Х19Н9С2, Св-04Х19Н9, Св-05Х19Н9Ф3С2, Св-07Х19Н10Б,
                                Св-08Х19Н10Г2Б (ЭИ-898), Св-06Х19Н10М3Т, Св-08Х19Н10М3Б (ЭИ-902), СВ-04Х19Н11М3, Св-05Х20Н9ФБС (ЭИ-649), Св-06Х20Н11М3ТБ (ЭП-89), Св-10Х20Н15, Св-07Х25Н12Г2Т (ЭП-75), Св-06Х25Н12ТЮ (ЭП-87), Св-07Х25Н13, Св-08Х25Н13БТЮ (ЭП-389),
                                Св-13Х25Н18, Св-08Х20Н9Г7Т, Св-08Х21Н10Г6, Св-30Х25Н16Г7, Св-10Х16Н25АМ6, Св-09Х16Н25М6АФ (ЭИ-981А), Св-01Х23Н28М3Д3Т (ЭП-516), Св-30Х15Н35В3Б3Т, Св-08Н50, Св-06Х15Н60М15 (ЭП-367)<br></td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>Низкоуглеродистая</td>
                            <td>Св-08, Св-08А, Св-08АА, Св-08ГА, Св-10ГА, Св-10Г2<br></td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-997-2012</td>
                            <td>Св-ХН78Т (ЭИ-435), Св-07Х16Н6 (ЭП-288), Св-15Х18Н12С4Ю (ЭИ-654)</td>
                        </tr>
                        <tr>
                            <td style="color: #ffffff;">ТУ 14-1-4968-91</td>
                            <td style="color: #ffffff;">Св-08Х25Н40М7 (ЭП-673), Св-08Х25Н60М10 (ЭП-606)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-4345-87</td>
                            <td>Св-10ГН1МА, Св-03ХН3МД, Св-08ГНМ, Св-08ГСНТ </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-1959-77</td>
                            <td>Св-04Х17Н10М2 (ЭП-551)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-2921-80</td>
                            <td>Св-10Х19Н11М4Ф </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-1383-75</td>
                            <td>Св-08Х19Н11Ф2С2 (ЭП-589) </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-2416-78</td>
                            <td>Св-10Х16Н25М6АФ </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-1464-69</td>
                            <td>Св-12Х21Н5Т (ЭП-811) </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-1325-75</td>
                            <td>Св-06ХН28МДТ (ЭИ-943) </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-2832-79</td>
                            <td>Св-10Х14Г14Н4Т (ЭИ-711) </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-3638-83</td>
                            <td>Св-08Х21Н11ФТ (ЭП-854)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-2860-79</td>
                            <td>Св-10ГНМА </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-2219-77</td>
                            <td>Св-10НЮ </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-1692-76</td>
                            <td>Св-09Х16Н4Б (ЭП-56) </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-130-282-96</td>
                            <td>Св-04Н3ГМТА, Св-10ГНА, Св-08ГСНТА </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section id="18143" class="py-5">
        <h1 class="text-center" style="font-family: 'Open Sans', sans-serif;margin-top: 15px;">ПРОВОЛОКА ГОСТ 18143-72</h1>
        <div class="col-md-12 text-center search-table-col" style="width: 85%;margin-right: auto;margin-left: auto;margin-top: 6px;"><span class="counter pull-right"></span>
            <div class="table-responsive table-bordered table table-hover table-bordered results">
                <table class="table table-bordered table-hover">
                    <thead class="bill-header cs">
                        <tr style="font-size: 20px;font-family: 'Open Sans', sans-serif;">
                            <th id="trs-hd" class="col-lg-1" style="width: 30%;height: 54px;">ГОСТ</th>
                            <th id="trs-hd" class="col-lg-3">Марка проволоки</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="warning no-result">
                            <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                        </tr>
                        <tr>
                            <td>ГОСТ 18143-72</td>
                            <td>12Х18Н10Т, 12Х18Н9, 08Х18Н10, 12Х13, 20Х13, 10Х17Н13М2Т</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section id="special" style="background-color: #222222;padding-top: 48px;">
        <h1 class="text-center" style="color: #ffffff;font-family: 'Open Sans', sans-serif;margin-top: 15px;">ПРОВОЛОКА СПЕЦИАЛЬНОГО НАЗНАЧЕНИЯ</h1>
        <div class="col-md-12 text-center search-table-col" style="width: 85%;margin-right: auto;margin-left: auto;font-family: 'Open Sans', sans-serif;margin-top: 6px;">
            <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control" placeholder="Поиск"></div><span class="counter pull-right"></span>
            <div class="table-responsive table-bordered table table-hover table-bordered results" style="color: #ffffff;margin-bottom: 16px;padding-bottom: 0px;">
                <table class="table table-bordered table-hover">
                    <caption class="text-center" style="margin-top: auto;margin-bottom: auto;height: 30px;">По запросу продукция может быть произведена по другому техническому заданию<br></caption>
                    <thead class="bill-header cs">
                        <tr style="font-size: 20px;">
                            <th id="trs-hd" class="col-lg-1" style="width: 30%;">ГОСТ / ТУ</th>
                            <th id="trs-hd" class="col-lg-2">Марка проволоки</th>
                        </tr>
                    </thead>
                    <tbody style="color: #ffffff;">
                        <tr class="warning no-result">
                            <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ГОСТ 10543-98</td>
                            <td>Нп-30ХГСА </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 3-145-81</td>
                            <td>Нп-13Х15АГ13ТЮ</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 3-1002-77</td>
                            <td>12Х18Н10Тгруппа Н, В, ВО</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-5397-2000</td>
                            <td>20Х25Н20С2 (ЭИ-283)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-131-941-99</td>
                            <td>20Х23Н18 (ЭИ-417)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-997-2012</td>
                            <td>Св-ХН78Т (ЭИ-435), Св-07Х16Н6 (ЭП-288), Св-15Х18Н12С4Ю (ЭИ-654)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-4968-91</td>
                            <td>Св-08Х25Н40М7 (ЭП-673), Св-08Х25Н60М10 (ЭП-606)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-4345-87</td>
                            <td>Св-10ГН1МА, Св-03ХН3МД, Св-08ГНМ, Св-08ГСНТ</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-1959-77</td>
                            <td>Св-04Х17Н10М2 (ЭП-551)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-2921-80</td>
                            <td>Св-10Х19Н11М4Ф</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-1383-75</td>
                            <td>Св-08Х19Н11Ф2С2 (ЭП-589) </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ -1-2416-78</td>
                            <td>Св-10Х16Н25М6АФ</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-1464-69</td>
                            <td>Св-12Х21Н5Т (ЭП-811)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-1325-75</td>
                            <td>Св-06ХН28МДТ (ЭИ-943)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-2832-79</td>
                            <td>Св-10Х14Г14Н4Т (ЭИ-711)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-3638-83</td>
                            <td>Св-08Х21Н11ФТ (ЭП-854)</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-2860-79</td>
                            <td>Св-10ГНМА</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-2219-77</td>
                            <td>Св-10НЮ</td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-1-1692-76</td>
                            <td style="color: #ffffff;">Св-09Х16Н4Б (ЭП-56) </td>
                        </tr>
                        <tr style="color: #ffffff;">
                            <td>ТУ 14-130-282-96</td>
                            <td>Св-04Н3ГМТА, Св-10ГНА, Св-08ГСНТА</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Ферротрейд 2018</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/assets/js/agency.js"></script>
    <script src="../static/assets/js/Animated-Type-Heading.js"></script>
    <script src="../static/assets/js/PHP-Contact-Form-dark-1.js"></script>
    <script src="../static/assets/js/PHP-Contact-Form-dark.js"></script>
    <script src="../static/assets/js/Table-With-Search.js"></script>
</body>

</html>