<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/jquery-ui.css" rel="stylesheet">
    <title>Форма заполнения</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div class="container-fluid">
    <header th:insert="blocks/warehouse_header :: header"></header>
    <div class="print">
        <a href="#" onclick="PrintImage(ssyl); return false;">PRINT</a>
    </div>
    <div class="error text-center">
        Проверьте данные
    </div>
    <div class="partError text-center">
        Эта партия уже использована для других значений
    </div>
    <div class="row mt-2">
        <div class="col-md-2 col-sm-12" id="controlBtns">
            <button class="btn btn-outline-info btn-block mb-2 mainBtns addMany" id="addMany"
                    sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">Добавить несколько
            </button>
            <button class="btn btn-outline-info btn-block mb-2 mainBtns all" id="all"
                    sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN', 'ROLE_SELLER')">Посмотреть все
            </button>
            <button class="btn btn-outline-info btn-block mb-2 mainBtns openSearch" id="openSearch"
                    sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN', 'ROLE_SELLER')">Поиск
            </button>
            <button class="btn btn-outline-info btn-block mb-2 mainBtns openPlavSearch" id="openPlavSearch"
                    sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN', 'ROLE_SELLER')">Поиск по плавке
            </button>
            <button class="btn btn-outline-info btn-block mb-2 mainBtns hidden-sm unite" id="unite"
                    sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">Объединить
            </button>
            <button class="btn btn-outline-info btn-block mb-2 mainBtns openShipInput" id="openShipInput"
                    sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">Отгрузка
            </button>
            <button class="btn btn-outline-info btn-block mb-2 mainBtns hidden-sm openShipHistory" id="openShipHistory">
                История отгрузкок
            </button>
            <button class="btn btn-outline-info btn-block mb-2 mainBtns hide d-none" id="hide"
                    sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">Скрыть все
            </button>
            <button class="btn btn-outline-info btn-block mb-2 mainBtns update" id="update"
                    sec:authorize="hasAnyRole('ROLE_ADMIN')">Редактировать
            </button>
        </div>
        <div class="row col-md-10 col-sm-12" id="content">

        </div>
    </div>

</div>


<script src="assets/js/onStart.js"></script>
<script src="assets/js/events.js"></script>
</body>
</html>