<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <script>
        $(function () {
            var availableTags = [
                "Св-01Х19Н9",
                "Св-01Х23Н28М3Д3Т",
                "Св–04Х17Н10М2",
                "Св–04Х17Н10М2-Э",
                "Св-04Н3ГМТА-О",
                "Св-04Х19Н11М3",
                "Св-04Х19Н9",
                "Св-04Х19Н9С2",
                "Св–04Х2МА",
                "Св–04Х2МА-Э",
                "Св–06Х14",
                "Св–06Х25Н12ТЮ",
                "Св-06Х15Н60М15",
                "Св-06Х19Н9Т",
                "Св-07Х18Н9ТЮ",
                "Св-07Х19Н10Б",
                "Св-07Х25Н13",
                "Св–07Х25Н12Г2Т",
                "Св–07ХН3МД",
                "Св-08А",
                "Св-08А-О",
                "Св-08Г2С",
                "Св-08Г2С-П",
                "Св-08Г2С-О",
                "Св-08ГС",
                "Св–08ГА",
                "Св–08ГА-О",
                "Св-08ГСМТ",
                "Св-08ГСМТ-О",
                "Св-08Х19Н10Г2Б",
                "Св-08Х19Н11Ф2С2",
                "Св–08Х21Н11ФТ",
                "Св-08Х20Н9Г7Т",
                "Св-08ХГСМА",
                "Св-08ХГСМА-О",
                "Св-08ХГСМФА",
                "Св-08ХГСМФА-О",
                "Св-08ХМ-О",
                "Св-08ХМ",
                "Св-08ХМФА",
                "Св-08ХМФА-О",
                "Св-09Х16Н25М6АФ",
                "Св-10Г2-О",
                "Св-10Г2",
                "Св-10ГНА",
                "Св-10ГН1МА",
                "Св-10ГСМТ",
                "Св-10ГСМТ-О",
                "Св–10Х19Н11М4Ф",
                "Св-10НМА",
                "Св-10НМА-О",
                "Св-10Х16Н25АМ6",
                "Св-10Х16Н25АМ6-Э",
                "Св-10Х17Т",
                "Св-12Х13",
                "Св-12Х13-Т-1",
                "Св-12Х21Н5Т",
                "Св-13Х25Т",
                "Св-18ХМА",
                "Св-18ХМА-О",
                "Св–15Х18Н12С4ТЮ"
            ];
            $("#mark").autocomplete({
                source: availableTags
            });
        });
    </script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Добавление позиции</h4>
            <form class="needs-validation" method="post" novalidate="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="mark">Марка</label>
                        <input class="form-control" id="mark" name="mark" placeholder="" required="" type="text"
                               value="">
                        <div class="invalid-feedback">
                            Введите марку.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="diameter">Диаметер</label>
                        <input class="form-control" id="diameter" name="diameter" placeholder="" required="" type="text"
                               value="">
                        <div class="invalid-feedback">
                            Введите диаметер.
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="packing">Упаковка</label>
                        <select class="custom-select d-block w-100" id="packing" name="packing" required="">
                            <option>Выберете упаковку</option>
                            <option value="">Моток</option>
                            <option>К300</option>
                            <option>Д300</option>
                            <option>К415</option>
                            <option>Д415</option>
                        </select>
                        <div class="invalid-feedback">
                            Выберете упаковку.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="mass">Вес</label>
                        <input class="form-control" id="mass" name="mass" placeholder="" required="" type="text">
                        <div class="invalid-feedback">
                            Введите массу.
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="comment">Доп.информация</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегестрировать</button>
            </form>
        </div>
    </div>
</div>
<div class="text-muted" th:insert="blocks/footer :: footer"></div>
</body>
</html>