<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Запросы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="el : ${request}" class="alert alert-info mt-2">
        <h1 th:text="${el.name}"></h1>
        <h3 th:text="${el.request}"></h3>
        <p class="text mb-0" th:text="${el.email}"></p>
        <p th:text="'Отправлено: ' + ${el.date}"></p>
        <a th:href="'/admin'" class="btn btn-outline-warning mr-3 ">К списку</a>
        <a th:href="'/admin/request/' + ${el.id} + '/remove'" class="btn btn btn-outline-danger">Удалить</a>
    </div>
</div>
<div class="text-muted" th:insert="blocks/footer :: footer">

</div>

</body>
</html>