!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Запросы</h1>
    <h2>Активные запросы</h2>
    <div th:each="el : ${req}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"></h3>
        <h4 th:text="${el.email}"></h4>
        <p th:text="${el.request}"></p>
        <a th:href="'/admin/requests/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
    <br>
</div>
<div class="text-muted" th:insert="blocks/footer :: footer"></div>
</body>
</html>