<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Admin</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div>
    <a class="btn btn-info" href="/admin/warehouse/registrate">Зарегестрировать</a>
    <a class="btn btn-info" href="/admin/warehouse/check">Проверить</a>
</div>

<div class="text-muted" th:insert="blocks/footer :: footer"></div>
</body>
</html>